*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    background: rgb(75, 75, 75);
}
button{
    color: rgb(255, 255, 255);
    background: #000;
    transition: all .6s ease;
    display: block;
    margin: 30px auto;
    padding: 20px 40px;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
}
button.active{
    color: black;
    background: white;
}
body > div{
    text-align: center;
    margin: 30px 0;
}
body > div> h1:nth-child(1){
    color: #63c700;
}
body > div> h1:nth-child(2){
    color: white;
}